
header{
    height: 75px;
}
header, footer{
    color: white;
}


/* colori background */
.green{
    background-color: #00C09D;
}
.dark{
    background-color: #3A536B;
}
.darker{
    background-color: #2C3E4F;
}