
header{
}
header, footer{
    color: white;
}

.box{
    margin: 15px 0;
}
.boxprova{
    background-color: yellow;
    height: 160px;
}
.imgsize{
    height: 50px;
} 
/* nav > .container {
    height: 75px;
} */
.line{
    border: 1px solid;
    height: 1px; 
    width: 200px; 
}
.star{
    margin: 20px;
    font-size: 40px;
    vertical-align: middle;
    line-height: 40px;
}
.line, .star{
    display: inline-block;
}
.marginbot{
    margin-bottom: 30px;
}
.rigag{
    border: 1px solid gray;
    width: 100%;
    margin: 15px 0;
}
.rigag:last-child{
    margin-top: 100px;
}
.paddingx{
    padding: 50px 0;
}
/* colori */
.green{
    background-color: #00C09D;
}
.greentext{
    color: #00C09D;
}
.dark{
    background-color: #3A536B;
}
.darker{
    background-color: #2C3E4F;
}
.white{
    color: white;
    font-weight: 600;
}
/* fonts */
.bigger{
    font-size: 25px;
}
.medium{
    font-size: 18px;
}
.whitebutton{
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin: 30px 0;
}
.greenbutton{
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    background-color: #00C09D;
}
/* temporanei */
.marginauto{
    text-align: center;
}

@media (max-width: 992px){
    .line{
        width: 100px;
    }
    .star{
        font-size: 40px;
    }



}