
header{
}
header, footer{
    color: white;
}

.box{
    margin: 15px 0;
}
.boxprova{
    background-color: yellow;
    height: 200px;
}
/* nav > .container {
    height: 75px;
} */

/* colori */
.green{
    background-color: #00C09D;
}
.dark{
    background-color: #3A536B;
}
.darker{
    background-color: #2C3E4F;
}
.white{
    color: white;
    font-weight: 600;
}
/* temporanei */
.marginauto{
    text-align: center;
}